.home-wrapper {
  padding: $header-height $gap--sm $gap--sm;
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  .home__intro {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: $gap--xl;
  }
  .home__slider {
    width: 90%;
    height: calc(100vh - 150px);
    overflow: hidden !important;
    .master-slider-parent {
      height: 100% !important;
    }
    .master-slider {
      width: 100% !important;
      margin: 0 !important;
      height: 100% !important;
      overflow: hidden !important;
    }
  }
  .home__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 200px;
      color: $color-primary--accent;
      text-transform: uppercase;
      font-family: 'Helvetica Bold', sans-serif;
      margin: 0;
      line-height: 138px;
      letter-spacing: -10px;
    }
    .button--primary {
      border: 2px solid $color-primary--accent;
      height: 44px;
      border-radius: 22px;
      background-color: $color-neutral--darker-transparent;
      color: $color-primary--accent;
      text-transform: uppercase;
      font-family: 'Helvetica Bold', sans-serif;
      font-size: $legals;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $gap--sm $gap--md;
      margin-right: $gap--lg;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: $color-primary--accent;
        color: $color-neutral--darkest;
      }
    }
  }

  .home-content {
    width: 90%;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-family: 'Helvetica Bold', sans-serif;
      font-size: $h1;
      letter-spacing: 3px;
    }
    .home-content__item {
      margin: $gap--md auto $gap--xxl;
    }
    .home-content__description {
      max-width: 70%;
      margin: $gap--md auto;
      p {
        line-height: 1.5;

      }
    }
    .home-content__servizi {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      margin: $gap--md auto;
      width: 90%;
      .servizi__item {
        width: 25%;
        height: 260px;
        border: 1px solid $color-neutral--darkest;
        margin: 0;
        padding: $gap--md;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &:first-of-type {
          border-top: 2px solid $color-neutral--darkest;
          border-left: 2px solid $color-neutral--darkest;
        }
        &:last-of-type {
          border-bottom: 2px solid $color-neutral--darkest;
          border-right: 2px solid $color-neutral--darkest;
        }
        &:nth-child(4) {
          border-top: 2px solid $color-neutral--darkest;
          border-right: 2px solid $color-neutral--darkest;
        }
        &:nth-child(5) {
          border-bottom: 2px solid $color-neutral--darkest;
          border-left: 2px solid $color-neutral--darkest;
        }
        &:nth-child(2), &:nth-child(3) {
          border-top: 2px solid $color-neutral--darkest;
        }
        &:nth-child(6), &:nth-child(7) {
          border-bottom: 2px solid $color-neutral--darkest;
        }
        p {
          text-transform: uppercase;
          font-family: 'Helvetica Bold', sans-serif;
          letter-spacing: 2px;
        }
      }
    }
  }
  @include tabletPortrait() {
    .home__heading {
      justify-content: center;
      h1 {
       display: none;
      }
      .button--primary {
        margin-right: 0;
      }
    }
    .home__slider {
      width: 100%;
      .master-slider {
        .ms-container, .ms-inner-controls-cont, .ms-view {
          height: 100% !important;
        }
        .ms-slide {
          height: 70vh !important;
        }
      }
    }
    .home-content {
      width: 100%;
      .home-content__item .home-content__servizi .servizi__item {
        width: 50%;
        height: 180px;
        &:first-of-type {
          border-top: 2px solid $color-neutral--darkest;
          border-left: 2px solid $color-neutral--darkest;
        }
        &:last-of-type {
          border-bottom: 2px solid $color-neutral--darkest;
          border-right: 2px solid $color-neutral--darkest;
          border-top: 0;
        }
        &:nth-child(2) {
          border-top: 2px solid $color-neutral--darkest;
          border-right: 2px solid $color-neutral--darkest;
        }
        &:nth-child(3) {
          border-top: 1px solid $color-neutral--darkest;
          border-left: 2px solid $color-neutral--darkest;
        }
        &:nth-child(4) {
          border-left: 1px solid $color-neutral--darkest;
          border-top: 1px solid $color-neutral--darkest;
        }
        &:nth-child(5) {
          border-bottom: 2px solid $color-neutral--darkest;
          border-left: 2px solid $color-neutral--darkest;
        }
        &:nth-child(6) {
          border-bottom: 2px solid $color-neutral--darkest;
          border-right: 2px solid $color-neutral--darkest;
        }
        &:nth-child(7) {
          border-left: 2px solid $color-neutral--darkest;
          border-top: 0;
        }
        p {
          font-size: 12px;
        }
      }
      .home-content__description {
        max-width: 100%;
      }
    }
  }
}

