.menu ul {
  padding: 22px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li {
    margin-left: $gap--md;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background-color: $color-primary--accent;
      margin-top: $gap--xxs;
      transition: all .3s ease;
    }
    &:hover:after, &.current_page_item:after {
      width: 35px;
    }
  }

  li a {
    font-family: 'Helvetica Bold', sans-serif;
    font-size: $label;
    letter-spacing: 0.29px;
    text-transform: uppercase;
  }

  @include tabletPortrait {
    li a {
      font-size: $legals;
    }
  }

  @include mobile {
    flex-flow: column;
    align-items: flex-end;
  }
}
