* {
  box-sizing: border-box;
  margin: 0;
}


@import
"variables",
"mixin",
"logo",
"font",
"menu",
"header",
"footer",
"home",
"tecnologie",
"work",
"contatti";

* {
  font-family: "Helvetica", sans-serif;
  color: $color-neutral--darkest;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.wrapper {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  @include mobile {
    font-size: 22px;
  }
}

