$color-primary--accent: #EDBA05;

$color-neutral--darkest: #474747;
$color-neutral--medium--transparent: rgba(229,229,229,0.5);
$color-neutral--lightest: #ffffff;

$color-neutral--medium-transparent: rgba(65,68,69,.8);
$color-neutral--darker-transparent: rgba(0,0,0,.5);

$header-height: 120px;

$gap--xxs: 5px;
$gap--xs: 10px;
$gap--sm: 15px;
$gap--md: 25px;
$gap--lg: 35px;
$gap--xl: 50px;
$gap--xxl: 100px;

$h1: 34px;
$h2: 24px;
$h3: 22px;
$h4: 18px;
$p: 16px;
$label: 14px;
$legals: 11px;
